.MenuListProduct {
    /* width: 100%; */
    width: 15%;
    display: grid;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vmin;
    padding: 2vmin;
    color: var(--text-light);
    background-color: var(--white);
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
    font-size: 4vmin;
  }
  
  .MenuListProduct .img {
    height: 10vw;
    /* height: 2px; */
    /* width: 2px; */
    width: 10vw;
    font-size: 4vw;
    background-color: var(--tan-1);
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
  }
  
  .MenuListProduct .buy {
    display: flex;
    flex-direction: column;
  }
  
  .MenuListProduct .buy span {
    font-size: 1.7vw;
    text-align: center;
    color: var(--text-light);
  }
  
  .MenuListProduct .name {
    font-size: 2vw;
    text-align: center;
    color: var(--text-light);
  }