.header{
 width: 100%;
 height: 9em;
 padding:1em;
 display: flex;
 /* background-image: url();  */

   background-image: url(https://media.istockphoto.com/id/1407779281/photo/man-hand-holding-mobile-smartphone-isolated-on-white-background-customer-experience-concept.webp?b=1&s=170667a&w=0&k=20&c=Hu3eyajYuy1PhkDnRaNCdHzEj25xxTkI-XiCgjs-JXk=);  

background-position: center;

background-position-x:right ;




}
.searchbar{
margin-left: 25%;
margin-top: 1em;
height: 3em;
width:16rem;
border-radius: 1em;
background-color:aliceblue ;
color: black;
font-weight: bold;
padding-left: 2em;
}