 .footer{
    display: flex;
    justify-content: space-between;
    padding:4vmin;
    margin-top: 0%;
}

.footer h3{
    margin-right: 35%;
}
.footer .social-icons{
    width: 15vmin;
    display: flex;
    justify-content: space-between;
    /* border: solid black; */
}