.menulist {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: var(--tan-1);
    /* background-color: black; */
    /* border: .1vmin solid var(--tan-3); */
    border-radius: 2vmin;
    margin: 3vmin 3vmin;
    padding: 4vmin ;
    /* overflow-y: scroll; */
    }